:root{
  --marginh: 4px;
}

div.container {
  border: 0.5em 0.5em solid;
  background-color: lightgrey;
  align-items: flex-start;
  margin: auto;
  justify-content: space-between;
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  height: 700px;
}

.a {
  order: 1;
  border: 3px 3px solid;
  background-color: grey;
  height: 20%;
  width: 99%;
  margin: var(--marginh);
  text-align: center;
  justify-content: center;
}

.bcdefg {
  order: 2;
  border: 3px 3px solid lightgrey;
  background-color: grey;
  height: 40%;
  width: 99%;
  margin: var(--marginh);
  text-align: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.b, .c, .d, .e, .f, .g {
  display: inline-block;
  border: 3px 3px solid lightgrey;
  background-color: grey;
  height: 40%;
  width: 30%;
  margin: var(--marginh);
  text-align: center;
  justify-content: center;
}

.h {
  order: 3;
  border: 3px 3px solid;
  background-color: grey;
  height: 25%;
  width: 99%;
  margin: var(--marginh);
  text-align: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .a {
    order: 1;
    border: 3px 3px solid;
    background-color: grey;
    height: 20%;
    width: 99%;
    margin: var(--marginh);
    text-align: center;

  }

  .bcdefg {
    order: 2;
    height: 75%;
    width: 55%;
    border: 3px 3px solid;
    background-color: grey;
    margin: var(--marginh);
    text-align: center;
  }
  
  .b, .c, .d, .e, .f, .g {
    display: inline-block;
    border: 3px 3px solid;
    background-color: grey;
    height: 34%;
    width: 30%;
    margin: var(--marginh);
    text-align: center;
  }
  
  .h {
    order: 3;
    border: 3px 3px solid;
    background-color: grey;
    height: 75%;
    width: 40%;
    margin: var(--marginh);
    text-align: center;
  }
}
